* {
    box-sizing: border-box;
    font-family: 'Roboto', 'Montserrat', sans-serif;
}

label{
    margin-left: 1em;
}

h1 {
    background-color: #8b1522;
    color: white;
    text-align: center;
    margin: 1.2rem 0 1.5rem 0;
    padding: 0.5rem 0;
    border-radius: 13px;
}

/* DATOS BASICOS ---------------------------------------------------------------------------------------------------------- */

.formularioDatosBasicos, .formularioDatosDemograficos, .formularioDatosContacto, .cardMostrar {
    font-size: 16px;
    color: #8b1522;
    width: 100%;
    margin: auto;
    padding: 30px 45px 35px 45px;
}

#h2_afueraDatosBasicos {
    color: #8b1522;
    margin-top: 10px;
    margin-left: 22px;
}

.hr_afuera {
    margin-top: -0.5em;
    margin-right: 0.4em;
}

#hr_afueraDatosBasicos {
    margin-left: 7em;
}

#hr_afueraDatosDemograficos {
    margin-left: 9.9em;
}

#hr_afueraDatosContacto {
    margin-left: 9em;
}

#hr_afueraMostrarDatos {
    margin-left: 8em;
}

#hr_afueraDatosIngresados {
    margin-left: 8.5em;
}

#h3_afuera{
    color: #8b1522;
    margin-left: 85%;
    margin-bottom: -1.5%;
}

.formularioDatosBasicos > p {
    margin-top: 20px;
    margin-bottom: -20px;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    grid-column-gap: 70px;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__label {
    display: block;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.formulario__input {
    width: 94%;
    background: white;
    border: 2px solid #ac1a2a;
    border-radius: 10px;
    margin-left: 20px;
    height: 65%;
    line-height: 45px;
    padding: 0px 40px 0 10px;
    transition: .3s ease all;
    box-shadow: 1.5px 1.5px 1.5px #cc5d6a;
}

.formulario__input:focus {
    border: 3px solid #ac1a2a;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

/* DATOS DEMOGRAFICOS ---------------------------------------------------------------------------------------------------------- */

.formularioDatosDemograficos > h2 {
    color: #8b1522;
    margin-top: 35px;
    margin-left: 22px;
}

.formularioDatosDemograficos > .formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    grid-column-gap: 5px;
}

/* DATOS CONTACTO ---------------------------------------------------------------------------------------------------------- */

.container {
    margin-left: -0.9em;
    margin-top: 1rem;
}

.formularioDatosContacto > span{
    padding-left: 130px;
}

.formularioIndicativo {
    font-weight: 700;
    margin-left: 2.3em;
}

.formularioTelefono {
    font-weight: 700;
    margin-left: 28%;
}

.containerInputForm {
    display: flex;
}

.formularioUnido {
    background-color: white;
    margin: 10px 10px 0px 35px;
    width: 48%;
    border: 2px solid #ac1a2a;
    border-radius: 10px;
    height: 37px;
    padding: 0px 70px 0 10px;
    transition: .3s ease all;
    box-shadow: 1.5px 1.5px 1.5px #ac1a2a;
}

.formularioUnido:focus {
    border: 3px solid #ac1a2a;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.linea {
    padding-top: 3em;
    width: 50%;
    border-bottom: 2px solid #8b1522;
    margin: 0 auto;
}

.boton2 {
    width: 10%;
    background: #ac1a2a;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s ease all;
    margin-top: 28px;
    margin-bottom: 1rem;
}

.boton2:hover {
    box-shadow: 3px 0 30px rgba(163, 163, 163, 1);
}

.formularioBoton {
    display: flex;
    justify-content: center;
}

/* TABLAS --------------------------------------------------------------------------------------------------------------------------------------------------------------- */

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 95%;
    overflow-x: auto;
    margin: 1% auto 2% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.531);
}

th, td {
    width: 20%; 
    min-width: 100px;
}

th {
    height: 40px;
    background-color: #ac1a2a;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

input {
    width: 101%;
    display: block;
    box-sizing: border-box;
    padding: 7px;
}

.style-table span {
    display: inline-block;
    font-size: 0.9rem;
    width: 100%;
    height: 100%;
    padding: 8px 10px 8px 10px;; 
    box-sizing: border-box;
    height: 40px;
}

#hr_afueraTablaAcademica {
    margin-left: 10.7em;
}

#hr_afueraTablaIdiomas {
    margin-left: 4em;
}

#hr_afueraTablaLaboral {
    margin-left: 9.7em;
}

.style-table thead tr{
    background-color: #ac1a2a;
    color: white;
}

.style-table thead tr th {
    font-weight: 500;
    font-size: 16px;
}

.style-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.style-table tbody tr:nth-of-type(odd) {
    background-color: #ded8d8;
}

.inputTableG {
    border: none;
    background-color: #ded8d8;
}

.inputTableW {
    border: none;
    background-color: white;
}

th,td,tr{
    border-right: 1px solid black;
}

th{
    border-top: 1px solid black;
    border-left: 1px solid black;
}

td{
    border-left: 1px solid black;
} 

@media (max-width: 600px) {
th:nth-child(1), td:nth-child(1) {
    display: none;
    }
}

/* MOSTRAR DATOS --------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.cardMostrar {
    padding: 1em;
}

.cardMostrar span {
    color: black;
}

.cardMostrar p {
    font-weight: 500;
}

.cardMostrar aside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 100%;
    padding-bottom: 1rem;
}

.cardMostrar aside > p {
    font-weight: bold;
    padding-left: 3.5rem;
}

.cardMostrar aside p > span {
    font-weight: normal;
}